:root {
  --header-height: 50px;
  --related-files-section-header-height: 110px;
}
@font-face {
  font-family: 'ClashDisplayBold';
  src: url('./fonts/ClashDisplayBold.otf') format('opentype');
}
@font-face {
  font-family: 'SF-Pro-Text-Light';
  src: url('./fonts/SF-Pro-Text-Light.otf') format('opentype');
}
header {
  height: 50px;
  width: 100vw;
  display: flex;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}
#main-flex-box-div {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}
body {
  margin: 0px;
  background-color: rgb(240, 240, 240);
}
.ql-editor {
  min-height: calc(100vh - 155px) !important;
}
#user-input-section {
  background-color: white;
  height: 9vh;
  z-index: 2;
  border-radius: 0px !important;
  box-shadow: -1px -1px #00000020;
  display: flex;
  flex-direction: row;
}
#user-input-section input[type='text'] {
  height: 40px;
  margin: auto;
  margin-top: 16px;
  font-size: 16px;
  width: 72%;
  border-radius: 40px;
  background-color: rgb(232, 232, 232);
  border: none;
  padding: 0px 16px;
}
#user-input-section button {
  height: 48px;
  width: 48px;
  border-radius: 48px;
  margin: auto;
  margin-top: 12px;
  color: white;
  background-color: darkslategray;
  font-weight: 100;
  font-size: 30px;
  border: 1px solid black;
}
.quill {
  width: 100%;
  height: calc(100vh - var(--header-height));
  margin: auto 10px;
  background-color: white;
}
#chat-outer-div {
  height: calc(100vh -50px);
}
#chat-body {
  height: calc(91vh - var(--header-height) - 40px);
  background-color: #ffffff;
  width: calc(30vw - 8px);
  border-radius: 0;
  overflow-y: scroll;
}
.ql-container {
  height: calc(100vh - 115.81px);
  border: 0px !important;
}
#title {
  font-family: 'ClashDisplayBold';
  margin-left: 5px;
}
#back-but {
  font-family: 'SF-Pro-Text-Light' !important;
  font-weight: 590;
  margin-right: 7.5px;
  margin-left: 2.25vw;
}
#title-logo-div {
  display: flex;
  flex-direction: row;
  padding-top: 11px;
}
#title-text {
  height: 25px;
  margin-top: 10px;
  width: 30vw;
  border-radius: 30px;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.5);
  border: 0px;
}
#right-panel {
  display: flex;
  width: 200px;
  padding-top: 7px;
}
#right-panel div {
  display: flex;
  background-color: rgba(225, 225, 225, 0.5);
  width: 28px;
  height: 28px;
  margin-right: 4px;
  justify-content: center;
  align-items: center;
}
#right-panel div:nth-child(5) {
  margin-left: 30px;
}
#chat-header {
  display: flex;
  height: 40px;
  font-size: 16px;
  background-color: white;
  font-weight: 700;
  padding-left: 30px;
  border-bottom: 0.7px solid rgba(225, 225, 225, 0.5);
  align-items: center;
}
.user-messages {
  margin-left: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  padding: 9.23px 12.31px;
  margin-bottom: 18px;
}
.superwriteAI-messages-div {
  border-radius: 8px;
  width: 83%;
  margin: auto;
  border: 1px solid #e1e1e1;
  padding: 9.23px 12.31px;
  margin-bottom: 18px;
  margin-top: 16px;
}
#logo {
  width: 17px;
  height: 17px;
}

.right-panel-buttons {
  width: 17px;
  height: 17px;
}
#related-files-section {
  width: 50%;
  background-color: white;
  max-width: 20vw;
}
#related-stars-icon {
  width: 15px;
  height: auto;
  margin-right: 10px;
  display: block;
}
#related-files-section-heading {
  display: flex;
  flex-direction: row;
}
#related-files-section-body {
  height: calc(100vh - var(--related-files-section-header-height));
  overflow-y: scroll;
}
.related-file-elements {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.youtube {
  height: 16px;
  margin-left: 8px;
}
#logo-and-button {
  display: flex;
  flex-direction: row;
}
